.favPage{
    background-color: #e5cfaf;
}

.fav_container{
    border: 1px solid black;
}

.myLoader{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.myLoader p{
    font-weight: bolder;
}

.gif{
    image-rendering: pixelated;
}
