.pokedex{
    width: 60%;
    height: 80%;
    background-color: lightgray;
    border: 2px solid black;
}

/** LEFT SIDE **/

.left{
    position: relative;
    background-color: #d30a40;
    border-radius: 25px 25px 0px 25px;
}

/*µ TOP BUTTONS */

.btns_top_left{
    width: 100%;
    height: 10rem;
    /* height: 170px; */
    padding: 15px 0 0 25px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #8b0000;
    border-radius: 25px;
    clip-path: polygon(0 0, 100% 0, 100% 29%, 60% 29%, 34% 47%, 0 47%);
}

.btn_big_blue{
    width: 3rem;
    height: 3rem;
    /* width: 50px;
    height: 50px; */
    margin-right: 10px;
    border: 5px solid #fff;
    background: radial-gradient(#05fbfb, #29abe3);
    border-radius: 35px;
    box-shadow: 3px 3px 0px 1px #8e062a;
}

.reflect
{
    width: 0.9rem;
    height: 0.7rem;
    border-radius: 15px 8px;		        
    /* width: 18px;
    height: 16px; */
    margin: 4px 0 0 15px;
    background: #fff;
    opacity: 0.5;
}

.mini_btn{
    width: 1rem;
    height: 1rem;
    /* width: 20px;
    height: 20px; */
    margin-right: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 0px 1px #8e062a;
}

.mini_btn1
{
    background: radial-gradient(#fb7b7b, #fb0505);
}

.mini_btn2
{
    background: radial-gradient(#fbfb9b, #fbfb05);
}

.mini_btn3
{
    background: radial-gradient(#b0fb7b, #50fb05);
}

/*? SCREEN PICTURE*/

.screen{
    width: 70%;
    /* width: 260px; */
    height: 40%;
    padding: 0 20px 5px;
    position: absolute;
    top: 120px;
    left: 25px;
    background-color: #b0b0b0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 10% 100%, 0% 85%);
    border-radius: 15px;
    box-shadow: 3px 3px 0px 1px #8e062a;
}

.pic{
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #4fad5f;
    border-radius: 15px;
    /* box-shadow: inset 2px 5px 5px #3f8b4c; */

}

.btns_top_screen{
    margin: 6px 0;
    gap: 15px;
}

.mini_top_screen{
    width: 0.6rem;
    height: 0.6rem;
    background-color: #c00d0d;
    border: 1px solid #000;
    border-radius: 15px;
}

.pic img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 15px;
    z-index: 1; 
}
.pic::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #4fad5f5a;
    box-shadow: inset 2px 5px 5px #3f8b4c;
    z-index: 10;
}

.bottom_btn_screen{
    width: 1rem;
    height: 1rem;
    background-color: #c00d0d;
    margin-left: 10px;
    border-radius: 30px;
    background: linear-gradient(top, #c00d0d 0%, #8b0000 80%);
    box-shadow: 1px 1px 0px 1px #8e062a;
}

.speakers{
    width: 1.5rem;
    height: 0.6rem;
    margin: 6px 0;
    margin-right: 10px;
}

.speak{
    height: 0.2rem;
    margin-bottom: 0.1rem;
    background-color: #494949;
    border-radius: 30px;
}

/*µ BOTTOM BUTTONS */

.btns_bottom_left{
    position: absolute;
    /* background-color: blue; */
    bottom: 0;
    width: 100%;
    height: 30%;
}

.big_blue_btn{
    width: 2rem;
    height: 2rem;
    background-color: #222;
    /* position: absolute;
    top: 10px;
    left: 30px; */
    border-radius: 50%;
    box-shadow: 3px 1px 0px 1px #000;
    margin-left: 25px ;
    
}

.bar_btn{
    width: 3rem;
    height: 0.6rem;
    border-radius: 5rem;
}

.bar_btn1{
    /* background-color: #c00d0d; */
    background-image: linear-gradient(to bottom, #c00d0d, #a00710, #800510, #6d060f, #510606);
}
.bar_btn2{
    /* background-color: #0000ff; */
    background-image: linear-gradient(to bottom, #0000ff, #0008ce, #000a9f, #000872, #010147);
}

.name_screen{
    position: absolute;
    width: 7rem;
    height: 3rem;
    bottom: 1.5rem;
    transform: translateX(50%);
    background-color: #4fad5f;
    box-shadow: inset 2px 5px 5px #3f8b4c;

}

.cross
	{
		position: absolute;
        bottom: 1.5rem;

	}

	/* .topcross
	{
		width: 30px;
		height: 30px;
		background-color: #222;

		position: absolute;
		top: 0;
		left: 30px;

		box-shadow: -3px 2px #010101;
		

		border-top-left-radius: 5px;
		
		border-top-right-radius: 5px;
		
	}

	.leftcross
	{
		width: 30px;
		height: 30px;
		background-color: #222;
		z-index: 1;

		position: absolute;
		left: 0;
		top: 30px;

		box-shadow: -3px 2px #010101;
		

		border-top-left-radius: 5px;
		

		border-bottom-left-radius: 5px;
		
	}

	.midcross
	{
		width: 30px;
		height: 30px;
		background-color: #222;

		position: absolute;
		top: 30px;
		left: 30px;

		box-shadow: -3px 2px #010101;
		
	}

	.rightcross
	{
		width: 30px;
		height: 30px;
		background-color: #222;

		position: absolute;
		top: 30px;
		right: 0;
		box-shadow: -3px 2px #010101;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		
	}

	.botcross
	{
		width: 30px;
		height: 30px;
		background-color: #222;
		position: absolute;
		bottom: 0;
		left: 30px;
		box-shadow: -3px 2px #010101;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		
	}

	.upT
	{
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 10px solid #111;
		position: absolute;
		top: 5px;
		left: 4px;
	}

	.downT
	{
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 10px solid #111;
		position: absolute;
		bottom: 5px;
		left: 4px;
	}

	.leftT
	{
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-right: 10px solid #111;
		border-bottom: 10px solid transparent;
		position: absolute;
		top: 5px;
		left: 4px;
	}

	.rightT
	{
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-left: 10px solid #111;
		border-bottom: 10px solid transparent;
		position: absolute;
		top: 5px;
		right: 5px;
	}

	.midCircle
	{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 5px;
		left: 4px;
		border-radius: 30px;
		background: radial-gradient(#111, #222);
		
	}  */
