.details_container{
    /* background-image: url('/images/field-bg.jpg'); */
    background-image: url('/images/field-trees.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.infos_content{
    border-radius: 25px;
    background-color: #b0b0b0;
    box-shadow: 3px 3px 0px 1px #797979;
    border: 2px solid #3d3d3d;
    padding: 4%;
    /* background-color: #fbf3d3;
    box-shadow: 3px 3px 0px 1px #fee47c; */

}

