.pokeList_container{
    background-color: #d30a40;
}

.myLoading{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    border-radius: 35px;
    /* background: linear-gradient(145deg, #f0f0f0, #cacaca); */
    /* background-image: radial-gradient(circle, #e3e3e3, #c9cacb, #afb1b3, #95999a, #7c8282); */
    background-image: radial-gradient(circle, #fffdf6, #fefaed, #fdf8e4, #fcf5dc, #fbf3d3);
    box-shadow: 3px 3px 0px 1px #797979;
    border: 2px solid #3d3d3d;
}

.card:hover {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #797979;
}

.imgPoke{
    image-rendering: pixelated;
    object-fit: contain;
}


.filter{
    width: 15rem;
    padding: 12px 10px;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    border: 2px solid black;
    background-color: #e3e3e3;
    box-shadow: inset 2px 5px 5px #7c8282;
}


.moreBtn{
    padding: 0.5rem;
    border-radius: 5px;
    background-color: #ffcb04;
    box-shadow: 3px 3px 0px 1px #514101;
    border: 2px solid #5a452d;
}


.moreBtn:active {
    transform: translateY(4px);
    box-shadow: 1px 2px 0px 0px #514101;
}
