.welcome_container{
    background-color: #a2a588;
    /* box-shadow: inset 2px 5px 5px #565848; */
    box-shadow: inset 2px 5px 7px #3d3f33;
}

.typewriter{
    border: 8px double black;
    border-radius: 5px;
    padding: 0.5rem 0.5rem 2rem;
    background-color: #a2a588;

}
.typewriter_content p {
    overflow: hidden; 
    margin: 0;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
    white-space: nowrap;
}

@keyframes typing {
    from { 
        width: 0;
    }
    to { 
        width: 100% 
    }
}

.choices{
    animation: appear 0.5s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.choices button:hover::before{
    content: '\25BA';
}

.arrow{
    animation: grow 2s infinite;
}

@keyframes grow {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}


/* .welcome_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2626265e;
    box-shadow: inset 2px 5px 7px #3d3f33;
    z-index: 10;
} */
